<h1 class="main-text">Ready to create a profile?</h1>
<div class="secondary-text" id="new-user" align="center"> Creating a MyWeddingVendor profile will make your wedding planning easier by allowing you to save your favorite vendors and contact them directly.</div>

<%= render 'form' %>

<%= link_to 'Back', users_path %>
